# Bazel
/bazel-*
*.pt

# Bazel Bzlmod
# It's often recommended to check this file in for applications to have
# reproducible builds, but it can be ignored for libraries.
MODULE.bazel.lock

# Python
*.pyc
*.pyd
.pytest_cache/
*.bin

# Virtual environment
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/
